.display-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(65, 63, 63);
    color: aliceblue;
}

.lead {
    text-align: center;
}
.navbar {
    align-items: center;
    text-align: center;
}
body {
    background-image: url(https://images.unsplash.com/photo-1588706797058-f8a5325779ff?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80);
    color: white;
    font-size: 1.5em;
}
.col-10 {
    margin-top: 15px;
}

#currentCity {
    color: white;
    font-size: 20px;
}
p {
    align-items: flex-end;
    text-align: center;
    font-style: oblique;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    border-style:double

}
#forecast {
    display:flex;
    justify-content:flex-start;
    justify-content: space-between;
    padding: 10px;
    margin-left: 15px;
    border-radius: 15px;
    
}
.forecastContainer {
    flex:1 0;
    
}

@media screen and (max-width: 768px) {
    .jumbotron-fluid, .navbar, .col-10, .forecastContainer, .big-primary {
        width: 100%;
        background:#0b2950;
        border-radius:5px; 

}
@media screen and (max-width: 576px) {
    .jumbotron-fluid, .navbar, .col-10, .forecastContainer, .big-primary, #currentCity {
        width: 100%;
        background: rgb(5, 160, 172);
        border-radius:5px;
        color:cornsilk;

} 
