.display-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(65, 63, 63);
    color: aliceblue;
}

.lead {
    text-align: center;
    color: black;
}
.navbar {
    align-items: center;
    text-align: center;
}
body {
    background-image: url(https://images.unsplash.com/photo-1592210454359-9043f067919b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80);
    background-size: cover;
    font-size: 1.5em;
}
.col-10 {
    margin-top: 15px;
}

#currentCity {
    color: white;
    font-size: 50px;
    font-weight: bolder;
    float:left;
    text-shadow:2px 2px rgb(3, 3, 95);
  
}
p {
    align-items: flex-end;
    text-align: center;
    font-style: oblique;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color:rgb(174, 174, 250);
    text-shadow:.5px .5px black;
    font-size: 35px;


}
#forecast {
    display:flex;
    justify-content:flex-start;
    justify-content: space-between;
    padding: 10px;
    margin-left: 15px;
    border-radius: 15px;
   
    
}
.forecastContainer {
    flex:1 0;
 
    
}
h4{
    color: white;
    text-shadow: 1.5px 1.5px black;
    text-align: center;
    font-size: 40px;
}
#temp, #humidity, #uvi{
    font-size: 40px;
    color: rgb(3, 3, 95);
    text-align: center;
    font-weight: bold;
    text-shadow:1px 1px rgb(184, 184, 252);
}
form{
    display: flex;
   justify-content: center;
   justify-content: space-evenly;
}
#searchedCities{
    text-transform: capitalize;
}
.big-primary{
    font-weight: bold;
}

@media screen and (max-width: 768px) {
    .jumbotron-fluid, .navbar, .col-10, .forecastContainer {
        width: 100%;
        border-radius:5px; 
        display: flex;
        flex-direction: column;

}
.big-primary, #forecast{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}}
@media screen and (max-width: 576px) {
    .jumbotron-fluid, .navbar, .col-10, .forecastContainer, #currentCity {
        width: 100%;
        border-radius:5px;
        display: flex;
        flex-direction: column;

} 
.big-primary, #forecast{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
p{
    color: rgb(184, 184, 252);
    text-shadow:2px 2px black;
}
}